<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @flight.price %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<%= link_to 'Purchase', {:controller=> "transactions", :action=> "new", :flight_id=> @flight.id}, class: "btn btn-primary" %>
<%= link_to 'Back', flights_path %>
